.catalogue {

  padding-top: 15px;
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 1rem 0;
    width: 100%;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 9rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-size: 1rem;
    font-family: $serif-secondary;
    letter-spacing: .5px;
    display: inline;
    margin-left: 10px;
    min-width: 200px;
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 1rem;

    font-weight: 700;
    margin: .5rem 0;
    display: inline;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    margin-top: 10px;
    width: 5rem;
  }
}
