---
layout: default
---

<div class="post">
  <div class="post-info">

    <span></span><time datetime="{{ page.date }}" id="post:{{post.title}}">{{ page.chapter  }}</time>


      <br>
    <span>نوشته شده توسط</span>
    {% if page.author %}
    {{ page.author }}
    {% else %}
    {{ site.author.name }}
    {% endif %}

      <!--<span>در&nbsp;</span><time datetime="{{ page.date }}" id="post:{{post.title}}">{{ page.date | jdate: "%e %b %Y" }}</time>-->
  </div>



  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">بالا</a>
</div>
